name: build and test TransportationOrderServer

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up JDK 14
      uses: actions/setup-java@v3
      with:
        distribution: 'adopt'
        java-version: '14'

    - name: Build project with Maven
      working-directory: TransportationOrderServer0-main
      run: mvn -B compile --file pom.xml

  verify:
    needs: build
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up JDK 14
      uses: actions/setup-java@v3
      with:
        distribution: 'adopt'
        java-version: 14

    - name: Run tests with Maven
      working-directory: TransportationOrderServer0-main
      run: mvn -B verify --file pom.xml

    - name: List generated jar
      working-directory: TransportationOrderServer0-main
      run: ls target/*.jar
